{
  "env": {
    "development": {
      "plugins": [
        // note that the order plugins are defined, matters.
        // Constant checking, should be run before variable scoping is removed.
        "check-es2015-constants",
        "transform-es2015-block-scoping"
      ]
    },
    "test": {
      "plugins": [
        ["babel-root-slash-import", {
          "rootPathSuffix": "src"
        }],
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
