{
  "env": {
    "development": {
      "plugins": ["external-helpers", "transform-es2015-block-scoping"]
    },
    "test": {
      "plugins": [
        ["babel-root-slash-import", {
          "rootPathSuffix": "src"
        }],
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
