{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ],
      "plugins": ["external-helpers"]
    },
    "test": {
      "plugins": [
        ["babel-root-slash-import", {
          "rootPathSuffix": "src"
        }],
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
